body{
    box-flex: 0;
}


.new-height{
    height: 400px;
}

/* .music{
    height: 250px;
    width: 250px;
    padding-left: 100px;
    margin-bottom: 70px;
    float: left;
    vertical-align: bottom;
    text-align: center;
} */
